<div class="container">
  <div class="todo-list">
    <div class="input-group">
      <input type="text" placeholder="Todo">
      <button class="add-button">+</button>
    </div>
    <table>
      <tr class="even">
        <td>
          <pre>
            Go to a gym
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <tr class="odd">
        <td>
          <pre>
            Read a book
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <tr class="even">
        <td>
          <pre>
            Take a shower
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <tr class="odd">
        <td>
          <pre>
            Wash the dishes
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <tr class="even">
        <td>
          <pre>
            Go to the cinema
          </pre>
        </td>
        <td>
          <button class="remove-button">X</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
    </table>
  </div>
</div>